/* social links */
.social-links {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
.social-link {
  font-size: 1.75rem;
  color: var(--clr-primary);
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary);
}
