.error-page {
  display: grid;
  place-items: center;
  background: var(--clr-fountain-blue);
  text-align: center;
}
.error-page h1 {
  text-transform: uppercase;
  color: var(--clr-codgray-black);
  margin-bottom: 2rem;
}
